.destination {

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/destination/background-destination-mobile.jpg');
}

.destination .active {
    border-bottom: 2px solid white;
}


.destination .navLink:hover {
    border-bottom: 2px solid hsl(var(--colorWhite)/50%);
}



@media screen and (min-width: 640px) {
    .destination {
        background-image: url('../assets/destination/background-destination-desktop.jpg');
    }

}