.home {

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/home/background-home-mobile.jpg');
}


.exploreButtonContainer:hover {

    width: 208px;
    height: 208px;
    background-color: hsl(var(--colorWhite)/15%);
    transition-duration: 1s;

}

@media screen and (min-width: 640px) {
    .home {
        background-image: url('../assets/home/background-home-desktop.jpg');
    }

}

@media screen and (min-width: 768px) {

    .exploreButtonContainer:hover {

        width: 256px;
        height: 256px;
    
    }


}