.technology {

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/technology/background-technology-mobile.jpg');
}


@media screen and (min-width: 640px) {
    .technology{
        background-image: url('../assets/technology/background-technology-desktop.jpg');
    }

}