@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Barlow:wght@300;400;600;700&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --colorDark: 230 35% 7%;
  --colorLight: 231 77% 90%;
  --colorWhite: 0 0% 100%;

  --font1: 'Bellefair', serif;
  --font2: 'Barlow Condensed', sans-serif;
  --font3: 'Barlow', sans-serif;
}

.font1 {
  font-family: var(--font1);
}

.font2 {
  font-family: var(--font2);
}

.font3 {
  font-family: var(--font3);
}

.font4 {
  font-family: var(--font2);
  letter-spacing: 4px;
}

.colorDark {
  color: hsl(var(--colorDark));
}

.colorLight {
  color: hsl(var(--colorLight));
}

.colorWhite {
  color: hsl(var(--colorWhite));
}


span {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.borderTop1px {
  border-top: 1px solid hsl(var(--colorWhite)/15%);
}

.borderBottom1px {
  border-bottom: 1px solid hsl(var(--colorWhite)/15%);
}

